
#game {
    display: none;
}
#video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    background-image: url(images/bg10.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 9;
}
/* Жизни */
#lifes {
    position: absolute;
    top: 5px;
    right: 20px;
}

#lifes span {
    display: block;
    margin: 10px;
    float: left;
    width: 50px;
    height: 43px;
    background: url(images/lifes.png);
    background-size: cover;
}
/* Кнопки опций игры */
#options {
    height: 40px;
    margin: 10px;
    display: flex;
}

#options #score {
    color: #fff;
    font-size: 24px;
    margin: 6px 20px;
}
#options img {
    margin: 0 10px;
}
#options #sound,
#options #sound img {
    height: 100%;
}

/* Игрок */
#player {
    height: 270px;
    position: absolute;
    top: 50%;
    left: 40%;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}
#player.skin_1 {
    width: 200px;
    background: url(images/player_1.png);
    background-repeat: no-repeat;
}

#player.skin_2 {
    width: 219px;
    background: url(images/player_2.png);
    background-repeat: no-repeat;
}


/*===
Стартовое окно
===*/
#start, #end {
    background-image: url(images/bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    width: 640px;
    height: 520px;
    border-radius: 20px;
    text-align: center;
    padding: 2px 20px;
    margin: 80px auto;
    font-family: arial black;
    font-size: 24px;
}
#start #select-player {
    width: 545px;
    margin: 0 auto;
}
#start #select-player span {
    border-radius: 10px;
    display: block;
    float: left;
    padding: 30px;
    cursor: pointer;
}

#start #select-player span.selected {
    background: #ffffff94;
}
#start button, #end button {
    padding: 20px 100px;
    font-size: 24px;
    font-family: arial black;
    background: rgb(6, 208, 223);
    border-radius: 50px;
    border: 4px solid #000;
    cursor: pointer;
    margin: 20px;
    outline: none;
    color: #000;
    text-transform: uppercase;
}

#start button:hover, #end button:hover {
    background: red;
    color: white;
}

.items img {
    position: absolute;
    width: 5em;
    height: 5em;
}


/*===
Вспомогательные классы
===*/
.clearfix {
    zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}